:root {
  --clr-normal: #65B391;
  --clr-low: #E7DC83;
  --clr-high: 	#C46FA2;
}

.clr-normal {
  background-color: var(--clr-normal);
}

.clr-low {
  background-color: var(--clr-low);
}

.clr-high {
  background-color: var(--clr-high);
}

.container {
  width: 70%;
  margin: auto;
}

.board {
  margin-top: 60px;
  width: 100%;
}

.board__column {
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding: 0 10px;
}

.column-header {
  text-align: center;
  text-transform: uppercase;
}

.buttonAddTask {
  display: block;
  width: 40%;
  height: 30px;
  background-color: var(--clr-normal);
  border: none;
  margin: 10px auto;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
fieldset {
  border: none;
}
.addtask-dialog {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 1px 10px grey;
  background-color: white;
  padding: 40px;
  border: none;
  z-index: 3;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.addtask-dialog input[type=text] {
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin: 5px 0;
}
.addtask-dialog {
  
}
.addtask-dialog .btn{
  width: 80px;
  height: 30px;
  float: right;
  border: 1px solid rgb(202, 209, 211);
  border-radius: 7px;
  margin: 5px;
}

.radio-group {
  margin-top: 10px;
  margin-bottom: 50px;
}
.task-card {
  overflow: hidden;
  box-shadow: 0px 1px 10px grey;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

.task-card::before {
  display: block;
  content: " ";
  width: 100%;
  padding-top: 25%;
  background-color: white;
}
.task-card .radio-group{
  margin-bottom: 0;
}
.task-card .card-text {
  position: absolute;
  left: 50%;
  top: 0;
  width: 90%;
  transform: translate(-50%, 0);
  margin: 0;
  height: 30%;
}

.task-card span{
  font-weight: bold;
  color: rgb(36, 36, 36);
  line-height: 2em;
}

.card-body{
  padding: 0 10px;
  font-size: 12px;
}

.task-card .btn {
  cursor: pointer;
  border: none;
  outline: none;
  display: block;
  float: left;
  width: 33%;
  height: 35px;
  text-align: center;
  transition: all .2s
}

.task-card .btn:hover {
  background-color: #646464;
  color: white;
}

.disabled, .btn.disabled:hover {
  background-color: white;
  color: lightgray;
}

.btn.btn-del {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
